xml_to_csv/new.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="new">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element default="Year" ibmDfdlExtn:sampleValue="head_value1" name="head_field1" type="xsd:string"/>
							<xsd:element default="Industry_aggregation_NZSIOC" ibmDfdlExtn:sampleValue="head_value2" name="head_field2" type="xsd:string"/>							
							<xsd:element default="Industry_code_NZSIOC" ibmDfdlExtn:sampleValue="head_value3" name="head_field3" type="xsd:string"/>							
                            <xsd:element default="Industry_name_NZSIOC" ibmDfdlExtn:sampleValue="head_value4" name="head_field4" type="xsd:string"/>
                            <xsd:element default="Units" ibmDfdlExtn:sampleValue="head_value5" name="head_field5" type="xsd:string"/>
                            <xsd:element default="Variable_code" ibmDfdlExtn:sampleValue="head_value6" name="head_field6" type="xsd:string"/>
                            <xsd:element default="Variable_name" ibmDfdlExtn:sampleValue="head_value7" name="head_field7" type="xsd:string"/>
                            <xsd:element default="Variable_category" ibmDfdlExtn:sampleValue="head_value8" name="head_field8" type="xsd:string"/>
                            <xsd:element default="Value" ibmDfdlExtn:sampleValue="head_value9" name="head_field9" type="xsd:string"/>
                            <xsd:element default="Industry_code_ANZSIC06" ibmDfdlExtn:sampleValue="head_value10" name="head_field10" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="field1" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="field2" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="field3" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="field4" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" name="field5" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" name="field6" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" name="field7" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" name="field8" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" name="field9" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value10" name="field10" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>