Fixed_length_Industry/industry.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="industry">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:initiator="" dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="%NL;">
							<xsd:element dfdl:length="5" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu1" name="body_elem1" type="xsd:string"/>
							<xsd:element dfdl:length="8" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu2" name="body_elem2" type="xsd:string"/>
							<xsd:element dfdl:length="6" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_valu3" name="body_elem3" type="xsd:string"/>
                            <xsd:element dfdl:length="16" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value4" name="body_elem4" type="xsd:string"/>
                            <xsd:element dfdl:length="19" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value5" name="body_elem5" type="xsd:string"/>
                            <xsd:element dfdl:length="4" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value6" name="body_elem6" type="xsd:string"/>
                            <xsd:element dfdl:length="48" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value7" name="body_elem7" type="xsd:string"/>
                            <xsd:element dfdl:length="22" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value8" name="body_elem8" type="xsd:string"/>
                            <xsd:element dfdl:length="7" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value9" name="body_elem9" type="xsd:string"/>
                            <xsd:element dfdl:length="112" dfdl:terminator="" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value10" name="body_elem10" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>